apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: acs-operator
  namespace: openshift-operators
spec:
  channel: stable
  installPlanApproval: Automatic
  name: acs-operator
  source: uccps-operators
  sourceNamespace: openshift-marketplace
